.feedWrapper {
  -ms-overflow-style: none; /* IE and Edge */
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: hidden;
  overflow: visible;
  overscroll-behavior-y: none;
  position: relative;
  scrollbar-width: none;
  transition: transform 0.2s cubic-bezier(0, 0, 0.31, 1);
  width: inherit;
  z-index: 1;
  & ::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow-anchor: none !important;
  transition: box;

  .feed {
    align-items: stretch;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0;
    margin-top: auto;
    overflow: hidden;
    padding-top: 1em;
    position: relative;
    width: 100%;
    z-index: 0;

    & > #feed-anchor {
      overflow-anchor: auto;
      height: 0.5px;
    }

    & > div {
      width: 100%;
      padding: 0.5rem 1rem;

      &.message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .author {
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            font-size: 0.7rem;
            padding: 0.5em;
            opacity: 0.5;
          }
        }
        &.mine {
          align-items: flex-end;
          .author {
            flex-direction: row-reverse;
          }
          .bubble {
            background: linear-gradient(
              180deg,
              #11d3ff 0%,
              rgb(0, 97, 214) 100%
            );
          }
        }
      }
      &.roundWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
          font-size: 0.8rem !important;
          padding: 0 0.5em;
        }
        hr {
          width: 30%;
        }
      }
      &.roundWrapper,
      &.voting {
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.2;
        p {
          font-size: 1.1rem;
          font-weight: 900;
        }
      }
      &.voting {
        p {
          font-size: 0.8rem;
        }

        &.eliminated {
          opacity: 0.5;
          color: red;
        }
      }

      .bubble {
        background: rgba(255, 255, 255, 0.1);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: 1rem;
        padding: 0.5em 1em;
        border-radius: 0.5rem;
        width: auto;
      }
    }
  }
}

.actionWrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  .textAreaWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }

  textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 1rem;
    width: 100%;
    font-size: 1rem;
    resize: none;

    &:focus,
    &:active {
      border: none;
      outline: none;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .sendButton {
    align-items: center;
    background: linear-gradient(180deg, #11d3ff 0%, rgb(0, 97, 214) 100%);
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    min-height: 2em;
    min-width: 2em;
    opacity: 1;

    &.disabled {
      background: rgba(255, 255, 255, 0.2);
    }

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
}

.activityIndicator {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  line-height: 1.1rem;
  padding: 1rem !important;
}

.label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem !important;
}
