.feedWrapper {
  flex: 1;
  z-index: 1;
  overflow: hidden;
  width: inherit;
  height: 100%;
  position: relative;
  display: flex;
  transition: transform 0.2s cubic-bezier(0, 0, 0.31, 1);
  -webkit-overflow-scrolling: touch;
  overflow: visible;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  & ::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow-anchor: none !important;
  transition: box;

  .feed {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    margin-top: auto;
    margin-bottom: 0;
    z-index: 0;
    padding-top: 1em;
    overflow: hidden;

    & > #feed-anchor {
      overflow-anchor: auto;
      height: 0.5px;
    }

    & > div {
      width: 100%;
      padding: 0.25em 0.5em;
      &.welcome {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 0.9rem;
          padding: 1em;
        }
      }
      &.message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0.5em;
        padding-right: 5em;
        .author {
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            font-size: 0.7rem;
            padding: 0.5em;
            opacity: 0.5;
          }
        }
        &.mine {
          padding-left: 5em;
          padding-right: 0.5em;
          align-items: flex-end;
          .author {
            flex-direction: row-reverse;
          }
          .bubble {
            background: linear-gradient(180deg, rgb(0, 184, 246), blue);
          }
        }
      }
      &.roundWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
          padding: 0 0.5em;
        }
        hr {
          width: 20%;
        }
      }
      &.roundWrapper,
      &.voting,
      &.interrogation {
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.2;
        p {
          text-transform: uppercase;
          font-size: 1.1rem;
          font-weight: 900;
        }
      }
      &.voting,
      &.interrogation {
        p {
          font-size: 0.8rem;
        }

        &.eliminated {
          opacity: 0.5;
          color: red;
        }
      }

      .bubble {
        background: rgba(255, 255, 255, 0.1);
        padding: 0.5em 1em;
        border-radius: 12px;
        width: auto;

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.actionWrapper {
  width: 100%;
  padding: 0.5em 1em;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  & > div {
    width: 100%;
    &.text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
    }
  }

  p {
    font-size: 0.9rem;
    padding: 0.5em;
    &.noneRequired {
      opacity: 0.3;
    }
  }

  textarea {
    font-family: var(--unbounded-font);
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 20px;
    width: 100%;
    font-size: 0.9rem;
    resize: none;

    &:focus,
    &:active {
      border: none;
      outline: none;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .sendButton {
    border: none;
    outline: none;
    border-radius: 100em;
    min-height: 2em;
    min-width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #11d3ff 0%, rgb(0, 97, 214) 100%);
    opacity: 1;
    &.disabled {
      background: rgba(255, 255, 255, 0.2);
    }

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
}
