.headerContainer {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.currentPlayer {
  flex: 1;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
  .subheading {
    color: #a11710;
    font-size: 0.8rem;
  }
}

.help {
  flex: 1;
  text-align: right;
  opacity: 0.5;
}
