.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.game {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;

  .trayWrapper {
    background-color: black;
    z-index: 2;
    padding-bottom: 0.5em;
    box-shadow: 0 2px 8px 10px rgba(0, 0, 0, 0.6);
  }
}

.intro {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 0%;
  animation: in 1.5s ease-in-out;

  @keyframes in {
    0% {
      margin-top: 5%;
    }
    100% {
      margin-top: 0%;
    }
  }

  p {
    color: white;
  }
}
