.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // padding: 0 1rem 1rem;

  .outer {
    width: 100%;
    height: 0.9em;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.78;

    .inner {
      height: 100%;
      background: linear-gradient(90deg, #11d3ff 0%, rgb(0, 97, 214) 100%);
      transition: width linear 250ms;
      will-change: width;

      &.warning {
        background-color: yellow;
      }
      &.danger {
        background-color: red;
      }
    }
  }
}
